<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <compilation targetFramework="4.0" debug="true" />
  </system.web>
  <appSettings>
    <add key="appidOld" value="wxc5db8db9a51f590a" />
    <add key="secretOld" value="fa4270a42a67d16e9bff3571f939beb1" />
    <add key="appid" value="wx64450d92f8e24a51" />
    <add key="secret" value="846e29c7147cf37394efcca63daedee0" />
    <add key="appkey" value="5pfjxkyd" />
    <add key="appsecret" value="k5w4kxkr5hnz213t" />
    <add key="sessionInvite" value="6201809634a58e3b5ZZb871c60b727ccd6e7c87e139e02e2175020531" />
    <add key="sessions_pids" value="6201809634a58e3b5ZZb871c60b727ccd6e7c87e139e02e2175020531,mm_244200047_223150166_64033600288;6202119ed63e1503613001f76e6ZZe3baf7b216ff591aee2733987611,mm_120835524_42296983_101767800211;" />
    <add key="haodankuKey" value="miaoshayihao" />
    <add key="sinaKey" value="2985121666" />
    <add key="gylmDownloadDNS" value="gyhb.gylm1.com" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="apis">
          <match url="^apis/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^localhost:8800$" />
          </conditions>
          <action type="Rewrite" url="http://ms1.xcvf.store/{R:1}" />
        </rule>
        <rule name="oauthapi">
          <match url="^oauthapi/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^localhost:8800$" />
          </conditions>
          <action type="Rewrite" url="http://oauth2.damaicloud.com/{R:1}" />
        </rule>
        <rule name="tbpic">
          <match url="^tbpic/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^localhost:8800$" />
          </conditions>
          <action type="Rewrite" url="https://img.alicdn.com/{R:1}" />
        </rule>
        <rule name="wxhead">
          <match url="^wxhead/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^localhost:8800$" />
          </conditions>
          <action type="Rewrite" url="https://thirdwx.qlogo.cn/{R:1}" />
        </rule>
        <rule name="kouss">
          <match url="^kouss/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^localhost:8800$" />
          </conditions>
          <action type="Rewrite" url="https://gateway.kouss.com/{R:1}" />
        </rule>
        <rule name="baidu">
                  <match url="^baidu/(.*)" />
                  <conditions>
                    <add input="{HTTP_HOST}" pattern="^localhost:8800$" />
                  </conditions>
                  <action type="Rewrite" url="https://www.baidu.com/{R:1}" />
                </rule>
        <rule name="taodetail">
          <match url="^tbdetail/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^localhost:8800$" />
          </conditions>
          <action type="Rewrite" url="https://acs.m.taobao.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="search.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
